<%= form_for(@studygroup) do |f| %>
  <% if @studygroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studygroup.errors.count, "error") %> prohibited this studygroup from being saved:</h2>

      <ul>
      <% @studygroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br>
    <%= f.time_select :when, {ampm: true}%>
  </div>
  <div class="field">
    <%= f.label :where %><br>
    <%= f.text_field :where %>
  </div>
  <div class="field">
    <%= f.label :websiteLink %><br>
    <%= f.text_field :websiteLink %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
