<h1>Listing studygroups</h1>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>Where</th>
      <th>Website link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @studygroups.each do |studygroup| %>
      <tr>
        <td>
          <% if !studygroup.when.nil? %>
            <%= studygroup.when.strftime "%H:%M UTC"  %>
          <% end %>
        </td>
        <td><%= studygroup.where %></td>
        <td><%= studygroup.websiteLink %></td>
        <td><%= link_to 'Show', studygroup %></td>
        <% if @current_user.id == studygroup.host_id || is_admin %>
            <td><%= link_to 'Edit', edit_studygroup_path(studygroup) %></td>
        <% end %>
        <% if @current_user.id == studygroup.host_id || is_admin%>
            <td><%= link_to 'Destroy', studygroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studygroup', new_studygroup_path %>
