<h1>Listing studygroups</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Streetnumber</th>
      <th>Streetname</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>When</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @studygroups.each do |studygroup| %>
      <tr>
        <td><%= studygroup.host %></td>
        <td><%= studygroup.streetNumber %></td>
        <td><%= studygroup.streetName %></td>
        <td><%= studygroup.city %></td>
        <td><%= studygroup.state %></td>
        <td><%= studygroup.zipcode %></td>
        <td><%= studygroup.when %></td>
        <td><%= link_to 'Show', studygroup %></td>
        <td><%= link_to 'Edit', edit_studygroup_path(studygroup) %></td>
        <td><%= link_to 'Destroy', studygroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studygroup', new_studygroup_path %>
