<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @studygroup.when %>
</p>

<p>
  <strong>Where:</strong>
  <%= @studygroup.where %>
</p>

<p>
  <strong>Daysfromnow:</strong>
  <%= @studygroup.daysFromNow %>
</p>

<p>
  <strong>Websitelink:</strong>
  <%= @studygroup.websiteLink %>
</p>

<%= link_to 'Edit', edit_studygroup_path(@studygroup) %> |
<%= link_to 'Back', studygroups_path %>
