<p id="notice"><%= notice %></p>

<p>
  <strong>Hour:</strong>
  <%= @studygroup.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @studygroup.minute %>
</p>

<p>
  <strong>Am:</strong>
  <%= @studygroup.am %>
</p>

<p>
  <strong>Host:</strong>
  <%= @studygroup.host %>
</p>

<p>
  <strong>Daysfromnow:</strong>
  <%= @studygroup.daysFromNow %>
</p>

<p>
  <strong>Streetnumber:</strong>
  <%= @studygroup.streetNumber %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @studygroup.streetName %>
</p>

<p>
  <strong>City:</strong>
  <%= @studygroup.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @studygroup.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @studygroup.zipcode %>
</p>

<%= link_to 'Edit', edit_studygroup_path(@studygroup) %> |
<%= link_to 'Back', studygroups_path %>
