<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @studygroup.host %>
</p>

<p>
  <strong>Streetnumber:</strong>
  <%= @studygroup.streetNumber %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @studygroup.streetName %>
</p>

<p>
  <strong>City:</strong>
  <%= @studygroup.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @studygroup.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @studygroup.zipcode %>
</p>

<p>
  <strong>When:</strong>
  <%= @studygroup.when %>
</p>

<%= link_to 'Edit', edit_studygroup_path(@studygroup) %> |
<%= link_to 'Back', studygroups_path %>
